:root {
  --yellow: #fabd2f;
}
[data-theme="dark"] {
  --bg: #282828;
  --yellow: #d79921;
  --red: #cc241d;
  --aqua: #689d6a;
  --purple: #b16286;
}

body {
  background-color: var(--bg);
}

h1 {
  color: var(--red);
}
em,
strong,
h2 {
  color: var(--yellow);
}
h3 {
  color: var(--aqua);
}
h4 {
  color: var(--purple);
}

.katex-display > .katex > .katex-html > .tag {
  display: none;
  position: relative;
}
