$aqua-dark: #689d6a;
$blue-dark: #458488;
$purple-dark: #b16286;
$green-dark: #98971a;
$yellow-dark: #d79921;
$red-dark: #cc241d;
$aqua-light: #8ec07c;
$blue-light: #83a598;
$purple-light: #d3869b;
$green-light: #b8bb26;
$yellow-light: #fabd2f;
$red-light: #fb4934;

$fg: #ebdbb2;
$bg: #282828;
$gray: #7c6f64;

@function random-color() {
  $colors: $aqua-dark, $blue-dark, $purple-dark, $green-dark;
  $random-index: random(length($colors));
  @return nth($colors, $random-index);
}

@mixin section {
  padding: 3px 0px;
  background-color: $bg;
  border-radius: 30px;
}

@mixin bubble {
  padding: 2px 10px;
  margin: 0px 5px;
  border-radius: 15px;
}

@mixin dropdown {
  @include bubble;
  background-color: random-color();
  padding: 10px 15px;
  margin-bottom: 10px;
}

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: Caskaydia Cove Nerd Font;
  font-size: 16;
  color: $fg;
}

tooltip {
  @include section;
  border: 2px solid $aqua-dark;
}

scale trough {
  all: unset;
  background-color: $fg;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin-left: 5px;
}

.bubble {
  @include bubble;
  background-color: random-color();
}

.logo {
  @include bubble;
  background-color: $blue-dark;
  padding-left: 8px;
  padding-right: 15px;
}

.clock {
  @include bubble;
  background-color: $yellow-dark;
}

.workspaces {
  padding: 2px 5px;
}
.workspace-entry {
  padding: 0px 0.25em;
}

.brightness {
  @include bubble;
  background-color: $green-dark;
}
.slider trough highlight {
  background-color: $yellow-dark;
  border-radius: 5px;
}

.volume {
  @include bubble;
  background-color: $purple-dark;
}
.volume-bluetooth {
  @include bubble;
  background-color: $blue-dark;
}

.floating {
  @include section;
  margin: 0px 5px;
}

.battery-Charging {
    @include bubble;
    background-color: $aqua-dark;
}
.battery-Discharging {
    @include bubble;
    background-color: $yellow-dark;
}
.battery-Full {
  @include bubble;
  background-color: $green-dark;
}
.battery-Not {
  @include bubble;
  background-color: $blue-dark;
}
.battery-time {
  margin-left: 10px;
}

.tray {
  @include bubble;
  background-color: $aqua-dark;
}
.tray-element {
  margin: 0px 1px;
  padding-top: 1px;
}

// CALENDAR //

.cal-box {
  background-color: green;
}

// CONTROL PANEL //

.control-panel {
  background-color: $bg;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.dropdown-icon {
  font-size: 1.2em;
  min-width: 20px;
}

.dropdown-button {
  margin: -10px;
  font-size: 1.3em;
  padding-left: 15px;
  padding-right: 10px;
}

.menu {
  margin-top: 10px;
  padding: 5px;
}
.menu-entry {
  margin: 5px 0px;
}

.wifi-dropdown-on {
  @include dropdown;
  background-color: $purple-dark;
}
.wifi-dropdown-off {
  @include dropdown;
  background-color: $gray;
}

.bluetooth-dropdown-on {
  @include dropdown;
  background-color: $blue-dark;
}
.bluetooth-dropdown-off {
  @include dropdown;
  background-color: $gray;
}
